// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$dark: #575757;
$light: #ffffff;
$blue-accent: #3cb5b5;
$yellow-accent: #ffdf34;
$red-accent: #da223a;

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: $dark;
  background-image: image-url("books.jpg");
  background-position: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.opener {
  position: fixed;
  top: 30%;
  width: 100%;
  background-color: rgba($dark, .6);
}

h1 {
  font-size: 4em;
  text-align: center;
  color: $light;
  margin: .5em 0em;
}

p {
  text-align: center;
  color: $light;
  font-weight: bold;
  font-size: 2em;
  margin: .5em 0em 1em;
}
